section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px
  }

section .gallery-item{
    display: flex;
    flex-direction: column;
}

.gallery-item{
    height: 260px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
