.section {
    color: white;
    width:80%;
    margin-bottom: 15px;
    text-align: center;
  }

  .section img{
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    width: 100px;
    object-fit: cover;
  }

  .section img:hover{
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  .section input {
    width: 100%;
  }

  .photo{
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 500;
  }