<section>
  <form [formGroup]="editForm">
    <h2>Editar usuario</h2>
    <header>
      <label class="photo" for="photo">
        <img title="Change" [src]="this.uploadedUrl || this.user().photo || 'avatar.jpg'" />
      </label>
      <input
        style="display: none"
        type="file"
        id="photo"
        (change)="onUpload($event)"
      />
    </header>

    <input type="text" formControlName="name" placeholder="Nombre" />
    <input type="email" formControlName="email" placeholder="Email" />
    
    <input
      type="password"
      formControlName="password"
      placeholder="Nueva contraseña"
    />
    <input
      type="password"
      formControlName="rePassword"
      placeholder="Confirmar contraseña"
    />
  </form>
  <a (click)="onSave()" class="primary">Guadar cambios</a>
  <a [routerLink]="['/home']" class="secondary">Volver</a>
</section>
