  section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    min-width: 300px;
    padding: 45px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

header {
  background-color: inherit;
}

header img{
  background-color: white;
  padding: 10px;
  border-radius: 40px;
  width: 100px;
  object-fit: cover;
}

header img:hover{
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;
}

section h2 {
    text-align: center;
    margin-bottom: 15px;
}

section input {
    background-color: white;
    border: 2px solid #219ebc;
    color: #023047;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
}
section input:focus {
    border-color: #fb8500 ;
    outline: none;
    background-color: #e4faff;
}

section a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
}

section a + a{
    margin-top: 20px;
}

section a:hover {
    background-color: #023047;
}